.AI__brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}
.AI__brand div {
    flex: 1 ;
    max-width: 70px;
    min-width: 45px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.AI__brand img {
    max-width: 40%;
    max-height: 40%;
    object-fit: contain;
    cursor: pointer;
}