.AI__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0d291;
    height: 80px;
    padding: 2rem 6rem;
}

.AI__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.AI__navbar-links_logo {
    margin-right: 2rem;
}

.AI__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}

.AI__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.AI__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.AI__navbar-links_container p,
.AI__navbar-sign p,
.AI__navbar-menu_container p {
    color: rgb(10, 10, 10);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}
.AI__navbar-sign button, 
.AI__navbar-menu_container button{
    padding: 0.5rem 1rem;
    background: #f8ab06;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    outline: none;
}